gymnasium[classic-control]
pyglet
pandas
numpy
scipy
matplotlib
seaborn
plotly
ipykernel
ipywidgets
nbformat
jupyter
notebook
PyQt5
torch
stable-baselines3[extra]
scikit-learn
tensorboard
torch-tb-profiler
optuna
optuna-dashboard
